# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo

# -----------------------------
# Local login/logout logs (do NOT push)
# -----------------------------
logs/
*.jsonl

# -----------------------------
# Credentials / sensitive info
# -----------------------------
credentials/
images/


# -----------------------------
# Virtual environments / env files
# -----------------------------
venv/
.env

# -----------------------------
# Editor / system junk
# -----------------------------
*.swp
*.service~
.DS_Store
Thumbs.db
